.cart__item {
  max-width: 800px;
  overflow: hidden;
  display: flex;
  align-items: center;

  border-radius: 10px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
  background: #10171f;

  img {
    max-width: 150px;
    height: 150px;
  }

  @include bigPhone {
    flex-direction: column;
    img {
      width: unset;
      height: unset;
    }
  }
}
.cart__text {
  padding: 35px;
  display: grid;
  gap: 33px;
}
.cart__item-title {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}
.cart__item-info {
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 32px;
  overflow-y: auto;

  p {
    white-space: nowrap;
  }
}
