.footer {
  padding: clamp(3.125rem, 1.761rem + 6.82vw, 6.875rem) 0 77px;
}

.footer__wrapper {
  max-width: 1217px;
  margin: 110px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include smallTablet {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}
.footer__copyright {
  font-family: var(--font-accent);
  font-weight: 300;
  font-size: 15px;
  display: grid;
}
.footer__logo {
  display: grid;
  gap: 16px;
  font-family: var(--font-accent);

  font-weight: 300;
  font-size: 15px;
  text-align: center;
  margin-left: -200px;

  @include tablet {
    margin-left: 0;
  }

  p {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-self: center;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__social {
  transition: all 0.1s ease-in;

  &:hover {
    opacity: 0.8;
  }
}
