.season {
  margin-top: clamp(2.813rem, -3.347rem + 30.8vw, 19.75rem);
  margin-bottom: 75px;
}

.season__title {
  margin-bottom: 28px;
  &::before {
    @include titleBg {
      content: "на этот сезон";
      top: -50px;
    }
  }
}

.season__slider {
  display: flex;
  justify-content: center;
}

.swiper__link {
  display: flex;
  justify-content: center;

  @include bigPhone {
    height: 200px;
  }
}

.swiper__arrow-link {
  position: absolute;
  z-index: 2;
  bottom: 33px;

  left: 165px;

  @include bigLaptop {
    left: 100px;
  }
  @include tablet {
    left: 10px;
  }
  @include tablet {
    display: none;
  }
}
.swiper__slide-text {
  position: absolute;
  right: 230px;
  bottom: 162px;
  max-width: 300px;
  text-align: center;
  @include bigLaptop {
    bottom: 50px;
    right: 50px;
  }
  @include tablet {
    right: 0;
    bottom: 10px;
  }
  @include smallTablet {
    bottom: -100px;
  }
  @include tablet {
    left: 0;
    p {
      display: none;
    }
  }
}

.swiper__slide-btn {
  display: inline-block;
  margin-top: 20px;
  @include tablet {
    margin-bottom: 120px;
  }
}
